<a href="https://colab.research.google.com/github/kuzhuppillil/nU8E2quXIo33gksu/blob/main/Potential_talents.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [151]:
import pandas as pd
import numpy as np

import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

import re

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [146]:
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

tiv = TfidfVectorizer(ngram_range=(1,3),max_features = 10)
cv = CountVectorizer(ngram_range=(1,3))
stemmer = PorterStemmer()
lemmatizer = WordNetLemmatizer()
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [127]:
data = pd.read_csv("/content/drive/Othercomputers/My Laptop/Apziva Projects/Potential Talents/potential-talents - Aspiring human resources - seeking human resources.csv")
data.head()

,id,job_title,location,connection,fit
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN

In [128]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          104 non-null    int64
 1   job_title   104 non-null    object
 2   location    104 non-null    object
 3   connection  104 non-null    object
 4   fit         0 non-null      float64
dtypes: float64(1), int64(1), object(3)
memory usage: 4.2+ KB

In [129]:
len(data) - len(data[["job_title","location","connection"]].drop_duplicates())

51

Observation:



*   'fit' column is the target
*   Columns 'job_title' and 'location' are the main text columns, where NLP techniques need to be applied.
*   'connection' column contains the numerics with exepection of some '+' symbols.
* There are lot of duplicates in the data, these duplicates has the same jobtites, location and connection.
* The locations seem to be in different format and contains some spelling mistakes.

# Text Preprocessing:

In [130]:
#create a copy of data without the duplicates and with orignials indexes
data1 = data.drop_duplicates(subset=["job_title","location","connection"]).copy()

In [131]:
#removed the +symbol from the connection and changed the dtype to int
data1["connection"] = data1["connection"].str.replace("+","",regex = True).astype(int)

In [132]:
#contents in location column
data1.location.unique()

array(['Houston, Texas', 'Kanada', 'Raleigh-Durham, North Carolina Area',
       'Denton, Texas', 'İzmir, Türkiye', 'Greater New York City Area',
       'San Francisco Bay Area', 'Greater Philadelphia Area',
       'Lake Forest, California', 'Houston, Texas Area',
       'Atlanta, Georgia', 'Chicago, Illinois', 'Austin, Texas Area',
       'Jackson, Mississippi Area', 'Greater Grand Rapids, Michigan Area',
       'Virginia Beach, Virginia', 'Monroe, Louisiana Area',
       'Greater Boston Area', 'San Jose, California',
       'New York, New York', 'Dallas/Fort Worth Area',
       'Amerika Birleşik Devletleri', 'Baton Rouge, Louisiana Area',
       'Myrtle Beach, South Carolina Area', 'Chattanooga, Tennessee Area',
       'Los Angeles, California', 'Highland, California',
       'Gaithersburg, Maryland', 'Baltimore, Maryland',
       'Milpitas, California', 'Greater Atlanta Area',
       'Greater Chicago Area', 'Torrance, California',
       'Long Beach, California', 'Bridgewater, Massachusetts',
       'Lafayette, Indiana', 'Kokomo, Indiana Area',
       'Las Vegas, Nevada Area', 'Cape Girardeau, Missouri',
       'Greater Los Angeles Area', 'Katy, Texas'], dtype=object)

In [133]:

#fucntion to clean the location text
def cleaning(location):

  #contains unnecessary words like 'Area', 'City' and 'Greater, removing them
  location= re.sub("Area","",location)
  location= re.sub("Greater","",location)
  location= re.sub("City","",location)

  #fixing spelling and language check
  location = re.sub("Kanada","Canada",location)
  location = re.sub("Amerika Birleşik Devletleri","United States of America",location)
  location = re.sub("İzmir, Türkiye","izmir, Turkey",location)

  #fixing format
  location = re.sub("Dallas/Fort Worth","Dallas, Fort Worth",location)
  location = re.sub("New York, New York","New York",location)

  #fixing whitespace at start and end of names
  location = re.sub("^\s+|\s+$","",location)

  location = location.lower()

  return location

data1.location = data1.location.apply(lambda x: cleaning(x))
data1.location.unique()

array(['houston, texas', 'canada', 'raleigh-durham, north carolina',
       'denton, texas', 'izmir, turkey', 'new york', 'san francisco bay',
       'philadelphia', 'lake forest, california', 'atlanta, georgia',
       'chicago, illinois', 'austin, texas', 'jackson, mississippi',
       'grand rapids, michigan', 'virginia beach, virginia',
       'monroe, louisiana', 'boston', 'san jose, california',
       'dallas, fort worth', 'united states of america',
       'baton rouge, louisiana', 'myrtle beach, south carolina',
       'chattanooga, tennessee', 'los angeles, california',
       'highland, california', 'gaithersburg, maryland',
       'baltimore, maryland', 'milpitas, california', 'atlanta',
       'chicago', 'torrance, california', 'long beach, california',
       'bridgewater, massachusetts', 'lafayette, indiana',
       'kokomo, indiana', 'las vegas, nevada', 'cape girardeau, missouri',
       'los angeles', 'katy, texas'], dtype=object)

In [145]:
#function to clean the text body, tokenization and lemmatization

def process(text):

  #Filtering out the non-alphabets
  text = re.sub(r"[^a-zA-z\'\s]","",text)

  #converted all text to lowercase for consistency
  text = text.lower()

  cleaned_sentences = []
  words = nltk.word_tokenize(text)
  lemmatized_words = [lemmatizer.lemmatize(word) for word in words if word not in stopwords.words('english')]
  #stemm_words = [stemmer.stem(word) for word in words if word not in stopwords.words('english')]
  cleaned_text = ' '.join(lemmatized_words)

  return cleaned_text


data1["job_title"] = data1.job_title.apply(lambda x: process(x))

In [144]:
#Frequency count of words

def freq(text):
  word_list = []

  for word in text.str.split():
    word_list.extend(word)
  freq_word = pd.Series(word_list).value_counts()

  return freq_word

word_freq = freq(data1.job_title)


word_freq[:10]

human           34
resource        34
aspiring        13
professional    10
seeking         10
manager          7
student          6
university       6
management       5
generalist       5
dtype: int64

In [148]:
#Bag Of Words

X=cv.fit_transform(data1.job_title)
cv.vocabulary_

{'ct': 101,
 'bauer': 36,
 'college': 76,
 'business': 54,
 'graduate': 176,
 'magna': 283,
 'cum': 104,
 'laude': 262,
 'aspiring': 26,
 'human': 205,
 'resource': 407,
 'professional': 383,
 'ct bauer': 102,
 'bauer college': 37,
 'college business': 79,
 'business graduate': 55,
 'graduate magna': 177,
 'magna cum': 284,
 'cum laude': 105,
 'laude aspiring': 263,
 'aspiring human': 27,
 'human resource': 206,
 'resource professional': 436,
 'ct bauer college': 103,
 'bauer college business': 38,
 'college business graduate': 80,
 'business graduate magna': 56,
 'graduate magna cum': 178,
 'magna cum laude': 285,
 'cum laude aspiring': 106,
 'laude aspiring human': 264,
 'aspiring human resource': 28,
 'human resource professional': 220,
 'native': 327,
 'english': 144,
 'teacher': 519,
 'epik': 154,
 'program': 390,
 'korea': 260,
 'native english': 328,
 'english teacher': 147,
 'teacher epik': 520,
 'epik english': 155,
 'english program': 145,
 'program korea': 391,
 'native english teacher': 329,
 'english teacher epik': 148,
 'teacher epik english': 521,
 'epik english program': 156,
 'english program korea': 146,
 'people': 366,
 'development': 115,
 'coordinator': 91,
 'ryan': 454,
 'people development': 367,
 'development coordinator': 116,
 'coordinator ryan': 94,
 'people development coordinator': 368,
 'development coordinator ryan': 117,
 'advisory': 8,
 'board': 46,
 'member': 321,
 'celal': 65,
 'bayar': 39,
 'university': 532,
 'advisory board': 9,
 'board member': 47,
 'member celal': 322,
 'celal bayar': 66,
 'bayar university': 40,
 'advisory board member': 10,
 'board member celal': 48,
 'member celal bayar': 323,
 'celal bayar university': 67,
 'specialist': 485,
 'resource specialist': 440,
 'human resource specialist': 221,
 'student': 499,
 'humber': 223,
 'generalist': 166,
 'student humber': 502,
 'humber college': 224,
 'college aspiring': 77,
 'resource generalist': 416,
 'student humber college': 503,
 'humber college aspiring': 225,
 'college aspiring human': 78,
 'human resource generalist': 212,
 'hr': 197,
 'senior': 472,
 'hr senior': 200,
 'senior specialist': 475,
 'hr senior specialist': 201,
 'seeking': 461,
 'hris': 202,
 'position': 375,
 'seeking human': 466,
 'resource hris': 420,
 'hris generalist': 203,
 'generalist position': 168,
 'seeking human resource': 467,
 'human resource hris': 213,
 'resource hris generalist': 421,
 'hris generalist position': 204,
 'chapman': 71,
 'student chapman': 500,
 'chapman university': 72,
 'student chapman university': 501,
 'svp': 513,
 'chro': 73,
 'marketing': 312,
 'communication': 81,
 'csr': 98,
 'officer': 339,
 'engie': 138,
 'houston': 194,
 'woodland': 549,
 'energy': 132,
 'gphr': 174,
 'sphr': 489,
 'svp chro': 514,
 'chro marketing': 74,
 'marketing communication': 313,
 'communication csr': 82,
 'csr officer': 99,
 'officer engie': 340,
 'engie houston': 139,
 'houston woodland': 195,
 'woodland energy': 550,
 'energy gphr': 133,
 'gphr sphr': 175,
 'svp chro marketing': 515,
 'chro marketing communication': 75,
 'marketing communication csr': 314,
 'communication csr officer': 83,
 'csr officer engie': 100,
 'officer engie houston': 341,
 'engie houston woodland': 140,
 'houston woodland energy': 196,
 'woodland energy gphr': 551,
 'energy gphr sphr': 134,
 'intercontinental': 241,
 'buckhead': 52,
 'atlanta': 32,
 'resource coordinator': 413,
 'coordinator intercontinental': 92,
 'intercontinental buckhead': 242,
 'buckhead atlanta': 53,
 'human resource coordinator': 210,
 'resource coordinator intercontinental': 414,
 'coordinator intercontinental buckhead': 93,
 'intercontinental buckhead atlanta': 243,
 'management': 289,
 'internship': 245,
 'resource management': 422,
 'management student': 296,
 'student seeking': 506,
 'seeking internship': 468,
 'human resource management': 214,
 'resource management student': 424,
 'management student seeking': 297,
 'student seeking internship': 507,
 'opportunity': 348,
 'resource opportunity': 430,
 'human resource opportunity': 217,
 'experienced': 162,
 'retail': 444,
 'manager': 300,
 'experienced retail': 163,
 'retail manager': 445,
 'manager aspiring': 301,
 'experienced retail manager': 164,
 'retail manager aspiring': 446,
 'manager aspiring human': 302,
 'staffing': 492,
 'recruiting': 398,
 'resource staffing': 442,
 'staffing recruiting': 493,
 'recruiting professional': 399,
 'human resource staffing': 222,
 'resource staffing recruiting': 443,
 'staffing recruiting professional': 494,
 'luxottica': 282,
 'specialist luxottica': 486,
 'resource specialist luxottica': 441,
 'director': 118,
 'north': 330,
 'america': 14,
 'groupe': 182,
 'beneteau': 42,
 'director human': 121,
 'resource north': 428,
 'north america': 331,
 'america groupe': 15,
 'groupe beneteau': 183,
 'director human resource': 122,
 'human resource north': 216,
 'resource north america': 429,
 'north america groupe': 332,
 'america groupe beneteau': 16,
 'retired': 448,
 'army': 20,
 'national': 324,
 'guard': 184,
 'recruiter': 395,
 'office': 336,
 'retired army': 449,
 'army national': 21,
 'national guard': 325,
 'guard recruiter': 185,
 'recruiter office': 396,
 'office manager': 337,
 'manager seeking': 309,
 'seeking position': 470,
 'position human': 376,
 'retired army national': 450,
 'army national guard': 22,
 'national guard recruiter': 326,
 'guard recruiter office': 186,
 'recruiter office manager': 397,
 'office manager seeking': 338,
 'manager seeking position': 311,
 'seeking position human': 471,
 'position human resource': 377,
 'scottmadden': 459,
 'inc': 228,
 'generalist scottmadden': 170,
 'scottmadden inc': 460,
 'resource generalist scottmadden': 419,
 'generalist scottmadden inc': 171,
 'major': 286,
 'business management': 59,
 'management major': 290,
 'major aspiring': 287,
 'resource manager': 425,
 'business management major': 60,
 'management major aspiring': 291,
 'major aspiring human': 288,
 'human resource manager': 215,
 'internship human': 246,
 'resource manager seeking': 427,
 'manager seeking internship': 310,
 'seeking internship human': 469,
 'internship human resource': 247,
 'nortia': 333,
 'payroll': 363,
 'administrative': 3,
 'nortia staffing': 334,
 'staffing seeking': 495,
 'resource payroll': 432,
 'payroll administrative': 364,
 'administrative professional': 4,
 'nortia staffing seeking': 335,
 'staffing seeking human': 496,
 'human resource payroll': 218,
 'resource payroll administrative': 433,
 'payroll administrative professional': 365,
 'passionate': 358,
 'helping': 191,
 'create': 95,
 'inclusive': 229,
 'engaging': 135,
 'work': 552,
 'environment': 152,
 'professional passionate': 386,
 'passionate helping': 359,
 'helping create': 192,
 'create inclusive': 96,
 'inclusive engaging': 230,
 'engaging work': 136,
 'work environment': 553,
 'resource professional passionate': 438,
 'professional passionate helping': 387,
 'passionate helping create': 360,
 'helping create inclusive': 193,
 'create inclusive engaging': 97,
 'inclusive engaging work': 231,
 'engaging work environment': 137,
 'conflict': 88,
 'policy': 369,
 'procedurestalent': 380,
 'managementbenefits': 298,
 'compensation': 87,
 'resource conflict': 411,
 'conflict management': 89,
 'management policy': 292,
 'policy procedurestalent': 370,
 'procedurestalent managementbenefits': 381,
 'managementbenefits compensation': 299,
 'human resource conflict': 209,
 'resource conflict management': 412,
 'conflict management policy': 90,
 'management policy procedurestalent': 293,
 'policy procedurestalent managementbenefits': 371,
 'procedurestalent managementbenefits compensation': 382,
 'schwan': 455,
 'generalist schwan': 169,
 'resource generalist schwan': 418,
 'liberal': 271,
 'art': 23,
 'analyst': 17,
 'liberal art': 272,
 'art major': 24,
 'resource analyst': 408,
 'liberal art major': 273,
 'art major aspiring': 25,
 'human resource analyst': 207,
 'junior': 254,
 'engineer': 141,
 'information': 235,
 'system': 516,
 'junior engineer': 255,
 'engineer information': 142,
 'information system': 236,
 'junior engineer information': 256,
 'engineer information system': 143,
 'partner': 355,
 'heil': 189,
 'environmental': 153,
 'senior human': 473,
 'resource business': 409,
 'business partner': 62,
 'partner heil': 356,
 'heil environmental': 190,
 'senior human resource': 474,
 'human resource business': 208,
 'resource business partner': 410,
 'business partner heil': 63,
 'partner heil environmental': 357,
 'energetic': 129,
 'teamfocused': 522,
 'leader': 268,
 'professional energetic': 384,
 'energetic teamfocused': 130,
 'teamfocused leader': 523,
 'resource professional energetic': 437,
 'professional energetic teamfocused': 385,
 'energetic teamfocused leader': 131,
 'endemol': 126,
 'shine': 481,
 'hr manager': 198,
 'manager endemol': 305,
 'endemol shine': 127,
 'shine north': 482,
 'hr manager endemol': 199,
 'manager endemol shine': 306,
 'endemol shine north': 128,
 'shine north america': 483,
 'world': 554,
 'gi': 172,
 'software': 484,
 'professional world': 388,
 'world leader': 555,
 'leader gi': 269,
 'gi software': 173,
 'resource professional world': 439,
 'professional world leader': 389,
 'world leader gi': 556,
 'leader gi software': 270,
 'rrp': 451,
 'brand': 49,
 'portfolio': 372,
 'executive': 159,
 'jti': 251,
 'japan': 248,
 'tobacco': 524,
 'international': 244,
 'rrp brand': 452,
 'brand portfolio': 50,
 'portfolio executive': 373,
 'executive jti': 160,
 'jti japan': 252,
 'japan tobacco': 249,
 'tobacco international': 525,
 'rrp brand portfolio': 453,
 'brand portfolio executive': 51,
 'portfolio executive jti': 374,
 'executive jti japan': 161,
 'jti japan tobacco': 253,
 'japan tobacco international': 250,
 'programmer': 392,
 'love': 279,
 'data': 110,
 'organization': 353,
 'system specialist': 517,
 'specialist programmer': 487,
 'programmer love': 393,
 'love data': 280,
 'data organization': 111,
 'information system specialist': 237,
 'system specialist programmer': 518,
 'specialist programmer love': 488,
 'programmer love data': 394,
 'love data organization': 281,
 'bachelor': 33,
 'science': 456,
 'biology': 43,
 'victoria': 536,
 'wellington': 539,
 'bachelor science': 34,
 'science biology': 457,
 'biology victoria': 44,
 'victoria university': 537,
 'university wellington': 535,
 'bachelor science biology': 35,
 'science biology victoria': 458,
 'biology victoria university': 45,
 'victoria university wellington': 538,
 'resource management major': 423,
 'ey': 165,
 'resource ey': 415,
 'human resource ey': 211,
 'undergraduate': 529,
 'research': 404,
 'assistant': 29,
 'styczynski': 510,
 'lab': 261,
 'undergraduate research': 530,
 'research assistant': 405,
 'assistant styczynski': 30,
 'styczynski lab': 511,
 'undergraduate research assistant': 531,
 'research assistant styczynski': 406,
 'assistant styczynski lab': 31,
 'lead': 265,
 'official': 342,
 'western': 540,
 'illinois': 226,
 'lead official': 266,
 'official western': 343,
 'western illinois': 541,
 'illinois university': 227,
 'lead official western': 267,
 'official western illinois': 344,
 'western illinois university': 542,
 'employment': 123,
 'within': 546,
 'customer': 107,
 'service': 476,
 'patient': 361,
 'care': 64,
 'seeking employment': 462,
 'employment opportunity': 124,
 'opportunity within': 351,
 'within customer': 547,
 'customer service': 108,
 'service patient': 477,
 'patient care': 362,
 'seeking employment opportunity': 463,
 'employment opportunity within': 125,
 'opportunity within customer': 352,
 'within customer service': 548,
 'customer service patient': 109,
 'service patient care': 478,
 'admission': 5,
 'representative': 401,
 'community': 84,
 'medical': 318,
 'center': 68,
 'long': 275,
 'beach': 41,
 'admission representative': 6,
 'representative community': 402,
 'community medical': 85,
 'medical center': 319,
 'center long': 69,
 'long beach': 276,
 'admission representative community': 7,
 'representative community medical': 403,
 'community medical center': 86,
 'medical center long': 320,
 'center long beach': 70,
 'open': 345,
 'travel': 526,
 'relocation': 400,
 'opportunity open': 349,
 'open travel': 346,
 'travel relocation': 527,
 'resource opportunity open': 431,
 'opportunity open travel': 350,
 'open travel relocation': 347,
 'westfield': 543,
 'state': 497,
 'student westfield': 508,
 'westfield state': 544,
 'state university': 498,
 'student westfield state': 509,
 'westfield state university': 545,
 'indiana': 232,
 'kokomo': 257,
 'delphi': 112,
 'hardware': 187,
 'paint': 354,
 'student indiana': 504,
 'indiana university': 233,
 'university kokomo': 533,
 'kokomo business': 258,
 'management retail': 294,
 'manager delphi': 303,
 'delphi hardware': 113,
 'hardware paint': 188,
 'student indiana university': 505,
 'indiana university kokomo': 234,
 'university kokomo business': 534,
 'kokomo business management': 259,
 'business management retail': 61,
 'management retail manager': 295,
 'retail manager delphi': 447,
 'manager delphi hardware': 304,
 'delphi hardware paint': 114,
 'resource position': 434,
 'human resource position': 219,
 'graduating': 179,
 'may': 315,
 'entrylevel': 149,
 'st': 490,
 'louis': 278,
 'manager graduating': 307,
 'graduating may': 180,
 'may seeking': 316,
 'seeking entrylevel': 464,
 'entrylevel human': 150,
 'position st': 378,
 'st louis': 491,
 'resource manager graduating': 426,
 'manager graduating may': 308,
 'graduating may seeking': 181,
 'may seeking entrylevel': 317,
 'seeking entrylevel human': 465,
 'entrylevel human resource': 151,
 'resource position st': 435,
 'position st louis': 379,
 'loparex': 277,
 'generalist loparex': 167,
 'resource generalist loparex': 417,
 'intelligence': 238,
 'analytics': 18,
 'traveler': 528,
 'business intelligence': 57,
 'intelligence analytics': 239,
 'analytics traveler': 19,
 'business intelligence analytics': 58,
 'intelligence analytics traveler': 240,
 'always': 11,
 'set': 479,
 'success': 512,
 'always set': 12,
 'set success': 480,
 'always set success': 13,
 'administration': 0,
 'excellence': 157,
 'logging': 274,
 'director administration': 119,
 'administration excellence': 1,
 'excellence logging': 158,
 'director administration excellence': 120,
 'administration excellence logging': 2}

In [153]:
#TF-IDF


keywords = ["aspiring human resources", "seeking human resources"]

X = tiv.fit_transform(data1.job_title)
keyword_vectors = tiv.transform(keywords)

similarity_scores = cosine_similarity(keyword_vectors, X)
max_similarity_scores = similarity_scores.max(axis=0)

data1['fit'] = max_similarity_scores

data1 = data1.sort_values(by='fit', ascending=False)

data1.head(5)

,id,job_title,location,connection,fit
91,92,seeking employment opportunity within customer...,"torrance, california",64,0.866530
27,28,seeking human resource opportunity,"chicago, illinois",390,0.816973
69,70,retired army national guard recruiter office m...,"virginia beach, virginia",82,0.816973
98,99,seeking human resource position,"las vegas, nevada",48,0.816973
93,94,seeking human resource opportunity open travel...,united states of america,415,0.816973